# Putting it all together

At this point you've had experience with many different parts of the data science lifecycle---from the nitty gritty of programming and cleaning data, to running statistical tests and making inferences. In this lab, we're going to (i) clean up some loose ends and (ii) put you in the driver's seat by giving you a dataset and asking you to run analyses and make recommendations.

## Some odds and ends that are good to know

### Fun with column names

* Creating a new column in a data frame:  
    * `d$new_col_name = new_col_vector`  
* Getting a vector of column names:  
    * `colnames(d)`  
* Changing column names:  
    * `colnames(d) = vector_of_new_column_names`  
        * This is a rare case where we put a function call to the *left* of the assignment operator.  
* Getting fancy with column names:  
    * `colnames(d)[colnames(d) == 'patient'] = 'patient_id'`  
        * This ^ takes only the column named `patient` and changes the name to `patient_id`, can you see why this works?

### Changing data types
Way long ago we talked about data types. R has several built in data types, and it's useful to make sure your variables are the type of data you intend them to be:  

* Factor: Often useful for categorical data  
* String: A data type that is treated as text.  
    * An example of this might be if we ask a patient an open ended question and they type a response. We want to treat this response as text, and not as something like a factor, because there's no meaningful way of grouping that type of text.  
* Integer: For integer data to be treated as numbers.  
* Numeric / double: For real numbers (with decimals).  

You can switch between data types with the following:  

`d$col_to_convert = as.numeric(d$col_to_convert)`

### Is this in that?

Checking whether some value(s) are in some container of values is a common and useful operation. The simplest case looks like:

In [1]:
5 %in% 1:10

[1] TRUE

The output of the `%in%` operator is a logical vector with length equal to the argument on the *left* side of the `%in%` operator. See a more complex example:

In [2]:
c(5, 6, 15, 2, 21) %in% 1:10

[1]  TRUE  TRUE FALSE  TRUE FALSE

This function can come in super handy throughout a data analysis, when, for example, keeping only some special subset of observations.  

*Example.* Let's say we had some data where each row is a patient with their id and body temperature:

In [3]:
d = data.frame(patient_id = 1:10, temp = rnorm(10, 98, 1))
d

   patient_id temp
1   1         99.08728
2   2         97.87668
3   3         99.82090
4   4         99.30610
5   5         98.70856
6   6         98.65943
7   7         98.00756
8   8         96.94378
9   9         97.86300
10 10         97.35625

Imagine I want to analyze data only from patients 3, 7, 5, and 1. Instead of writing a huge logical argument to grab each of these I can use an `%in`:

In [4]:
to_keep = c(3,7,5,1)
d[d$patient %in% to_keep,]

  patient_id temp
1 1          99.08728
3 3          99.82090
5 5          98.70856
7 7          98.00756

Can you see why that worked? `d$patient %in% to_keep` creates a logical vector with a length equal to the length of data `d`, then this logical vector is used to index the rows of the data frame.

## t-tests
I won't go into too much detail about t-tests here, but I will point out the different types of t-tests that you can do, when you should use each one, and how to run them in R.

* One-sample: When comparing a single vector of data against a null hypothesis when a known *mu* (eg, you are testing a car manufacturer's claim that a certain car gets 40 mpg, and you have mpg data from 40 cars).  
* Paired sample: When you want to compare two measurements taken from the same set of cases (eg, you want to compare pre and post test scores from the same set of students before and after completing a prep course).  
* Independent sample: When you want to compare two measurements taken from different sets of cases (eg, you're comparing temperates from one set of patients against temperatures from a different set of patients).  

**Doing different t tests in R**

We use the `t.test` function for all the types of t tests, the critical arguments are `mu` and `paired`.  

* *One-sample*: `t.test(vector_x, mu = 50)`  
* *Paired sample*: `t.test(vector_x, vector_y, paired = TRUE)`  
* *Independent sample:* `t.test(vector_x, vector_y) # why don't i need to specify the paired argument here?`

## Assignment
The state of Pennsylvania is drowning in data and they need your help. Flu cases are on the rise and the department of health needs you to determine whether or not the state is safe. You need to first figure out what "safe" means, and then use your definition of safe to determine whether or not the current status of PA flu is safe or not.

We'll be using the total number of confirmed hospitalizations to inform our judgments.  
* The dataset `by_week.csv` contains on each row the sum total number of hospitalizations on a given week for flu across the state of PA.  

Lets assume that the total number of hospitalizations in PA each week in the csv file ``by_week.csv`` was generated from a random sample $(W_1, W_2, W_3 ..., W_N)$ where each random variable $W_i$ is independently and identically distributed and corresponds to the number of hospitalizations on week $i$. 

**Our goal** is to determine if the hospitilizations in the past month have increased appreciably compared to the number of weekly hospitlizations since 2020.  

Step One:
1. Read in the dataset `by_week.csv` and store this dataset in the variable ``d`` (for dataset)

Step Two:
1. Split the dataset $d$ into two datasets. 
    1. Store in the variable `not2022` rows in the dataset ``d`` that correspond to weeks before 2022. (This dataset will contain 64 rows)
    2. Store in the variable `only2022` rows in the dataset ``d`` that correspond to weeks from the beginning of  2022 to present. (This dataset will contain 15 rows)
    
Step Three:
1. Run a t-test using the following command
``t.test( not2022$total_hospitalizations, only2022$total_hospitalizations)``

Step Four
1. Report the mean of the number of hospitilizations before 2022
2. Report the mean of the number of hospitilizations during 2022 (to date)
3. Report the 95CI for $ \mu_{\text{not2022}} - \mu_{\text{only2022}}$. What does this confidence interval indicate? 
4. Suppose our hypothesis to determine if there has been an appreicably different number of hospitilziations in PA during 2022 compared to before 2022 is 

\begin{align}
    H_{0}&: \mu_{\text{not2022}} = \mu_{\text{only2022}} \\
    H_{1}&: \mu_{\text{not2022}} \neq \mu_{\text{only2022}}
\end{align}

Assume our critical region is $C = \{ (w_{1},w_{2},\cdots, w_{n}) | T < -2 \text{ or } T > 2 \}$. Where $T$ is the T statistic.

Would we reject the null hypothesis? What do the results of this hypothesis test suggest about hospitilizations in the stat of PA in 2022?

In [7]:
d1 = read.csv("by_week.csv")
d2 = read.csv("final_week.csv")

In [14]:
not2022  = d[d$week<'2022-01-01',]
only2022 = d[d$week>='2022-01-01',]

In [17]:
t.test( not2022$total_hospitalizations, only2022$total_hospitalizations)

	Welch Two Sample t-test

data:  not2022$total_hospitalizations and only2022$total_hospitalizations
t = -4.9701, df = 15.315, p-value = 0.0001579
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -394.4442 -157.9662
sample estimates:
mean of x mean of y
 100.3281  376.5333