## Data Frame

We learned in lecture that a dataframe is a specific way to organize data points sampled from a sample space $\mathcal{G}$.
A dataframe supposes a dataset $\mathcal{D} = ( d_{1},d_{2},\cdots,d_{N})$ should be organized so that each row is a single outcome $d_{i}$ and each column is a position in the tuple $d_{i} = ( x,y,z,...  )$

The dataframe is a common way computational scientists think about data.

### How to read a CSV file into a data frame

The function ``read.csv`` takes as an argument a string that indicates a file on your local computer OR a URL online.
Below the ``read.csv`` function is used to import into memory a **dataframe** related to bad drivers from the statsitcal news outlet called *FiveThirtyEight*.

The news article is here https://fivethirtyeight.com/features/which-state-has-the-worst-drivers/

In [34]:
## the line below is how you read in a csv
d = read.csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/bad-drivers/bad-drivers.csv")

## this is just me making the column names a little easier to handle
new_cols <- c('state', 'total', 'speeding', 'alcohol', 'not_distracted', 'previous_accidents', 'insurance_premium', 'insurance_loss')
print('Column names and descriptions:')
data.frame(column_names = new_cols, column_descriptions = colnames(d))
colnames(d) = new_cols

[1] "Column names and descriptions:"

  column_names
1 state
2 total
3 speeding
4 alcohol
5 not_distracted
6 previous_accidents
7 insurance_premium
8 insurance_loss
  column_descriptions
1 State
2 Number.of.drivers.involved.in.fatal.collisions.per.billion.miles
3 Percentage.Of.Drivers.Involved.In.Fatal.Collisions.Who.Were.Speeding
4 Percentage.Of.Drivers.Involved.In.Fatal.Collisions.Who.Were.Alcohol.Impaired
5 Percentage.Of.Drivers.Involved.In.Fatal.Collisions.Who.Were.Not.Distracted
6 Percentage.Of.Drivers.Involved.In.Fatal.Collisions.Who.Had.Not.Been.Involved.In.Any.Previous.Accidents
7 Car.Insurance.Premiums....
8 Losses.incurred.by.insurance.companies.for.collisions.per.insured.driver....

In [35]:
print('The actual data:')
d # Jupyter will by default print any variable

[1] "The actual data:"

   state                total speeding alcohol not_distracted
1  Alabama              18.8  39       30       96
2  Alaska               18.1  41       25       90
3  Arizona              18.6  35       28       84
4  Arkansas             22.4  18       26       94
5  California           12.0  35       28       91
6  Colorado             13.6  37       28       79
7  Connecticut          10.8  46       36       87
8  Delaware             16.2  38       30       87
9  District of Columbia  5.9  34       27      100
10 Florida              17.9  21       29       92
11 Georgia              15.6  19       25       95
12 Hawaii               17.5  54       41       82
13 Idaho                15.3  36       29       85
14 Illinois             12.8  36       34       94
15 Indiana              14.5  25       29       95
16 Iowa                 15.7  17       25       97
17 Kansas               17.8  27       24       77
18 Kentucky             21.4  19       23       78
19 Louisiana            20.5  35       33       73
20 Maine                15.1  38       30       87
21 Maryland             12.5  34       32       71
22 Massachusetts         8.2  23       35       87
23 Michigan             14.1  24       28       95
24 Minnesota             9.6  23       29       88
25 Mississippi          17.6  15       31       10
26 Missouri             16.1  43       34       92
27 Montana              21.4  39       44       84
28 Nebraska             14.9  13       35       93
29 Nevada               14.7  37       32       95
30 New Hampshire        11.6  35       30       87
31 New Jersey           11.2  16       28       86
32 New Mexico           18.4  19       27       67
33 New York             12.3  32       29       88
34 North Carolina       16.8  39       31       94
35 North Dakota         23.9  23       42       99
36 Ohio                 14.1  28       34       99
37 Oklahoma             19.9  32       29       92
38 Oregon               12.8  33       26       67
39 Pennsylvania         18.2  50       31       96
40 Rhode Island         11.1  34       38       92
41 South Carolina       23.9  38       41       96
42 South Dakota         19.4  31       33       98
43 Tennessee            19.5  21       29       82
44 Texas                19.4  40       38       91
45 Utah                 11.3  43       16       88
46 Vermont              13.6  30       30       96
47 Virginia             12.7  19       27       87
48 Washington           10.6  42       33       82
49 West Virginia        23.8  34       28       97
50 Wisconsin            13.8  36       33       39
51 Wyoming              17.4  42       32       81
   previous_accidents insurance_premium insurance_loss
1   80                 784.55           145.08
2   94                1053.48           133.93
3   96                 899.47           110.35
4   95                 827.34           142.39
5   89                 878.41           165.63
6   95                 835.50           139.91
7   82                1068.73           167.02
8   99                1137.87           151.48
9  100                1273.89           136.05
10  94                1160.13           144.18
11  93                 913.15           142.80
12  87                 861.18           120.92
13  98                 641.96            82.75
14  96                 803.11           139.15
15  95                 710.46           108.92
16  87                 649.06           114.47
17  85                 780.45           133.80
18  76                 872.51           137.13
19  98                1281.55           194.78
20  84                 661.88            96.57
21  99                1048.78           192.70
22  80                1011.14           135.63
23  77                1110.61           152.26
24  88                 777.18           133.35
25 100                 896.07           155.77
26  84                 790.32           144.45
27  85                 816.21            85.15
28  90                 732.28           114.82
29  99                1029.87           138.71
30  83                 746.54           120.21
31  78                1301.52           159.85
32  98                 869.85           120.75
33  80                1234.31           150.01
34  81                 708.24           127.82
35  86                 688.75           109.72
36  82                 697.73           133.52
37  94                 881.51           178.86
38  90                 804.71           104.61
39  88                 905.99           153.86
40  79                1148.99           148.58
41  81                 858.97           116.29
42  86                 669.31            96.87
43  81                 767.91           155.57
44  87                1004.75           156.83
45  96                 809.38           109.48
46  95                 716.20           109.61
47  88                 768.95           153.72
48  86                 890.03           111.62
49  87                 992.61           152.56
50  84                 670.31           106.62
51  90                 791.14           122.04

### Selecting a column and the $ operator

With a dataframe you can select rows by asking R to return the number column where the first column in the dataframe is 1, the second column 2, and so on. 
You can also ask R to return a column of your dataframe by column name.

The 3rd column of the dataframe that we read records, by state, the percentage of fatal collision that involved a driver who was impaired by alcohol. 

We can ask R for the 3rd column by using square brackets in the same way that we used square brackets to select rows and columns of matrices.

In [36]:
d[,3]

 [1] 39 41 35 18 35 37 46 38 34 21 19 54 36 36 25 17 27 19 35 38 34 23 24 23 15
[26] 43 39 13 37 35 16 19 32 39 23 28 32 33 50 34 38 31 21 40 43 30 19 42 34 36
[51] 42

We can request a column from a dataframe by asking for 
1. The dataframe
2. square brackets
Inside the square brackets you divide the rows you want selected and the columns you want selected by a comma.

For example, if we wanted to look at the 10th row and 3rd column we can write

In [37]:
d[10,3]

[1] 21

If instead we wanted to view rows 10,11,12 and columns 3 and 4 we could write

In [38]:
d[ 10:12, c(3,4)  ]

   speeding alcohol
10 21       29
11 19       25
12 54       41

The above examples select columns and rows by number. 
One advantage of a dataframe is that we can select columns **by name**. 


For example, we may be interested in rows 10-12 of the column "Percentage.Of.Drivers.Involved.In.Fatal.Collisions.Who.Were.Speeding"

In [39]:
d[10:12,"speeding"]

[1] 21 19 54

We can ask for **all** rows that correspond to a column by leaving the entry to the left of the comma blank.

In [40]:
d[,"speeding"]

 [1] 39 41 35 18 35 37 46 38 34 21 19 54 36 36 25 17 27 19 35 38 34 23 24 23 15
[26] 43 39 13 37 35 16 19 32 39 23 28 32 33 50 34 38 31 21 40 43 30 19 42 34 36
[51] 42

Finally, there is a shorthand for the code ``d[,"speeding"]`` using the dollarsign operator.
The dollar sign operator can be thought of as a function that takes a column name as input and returns the column of data inside your data frame corresponding to that column.

In [41]:
d$speeding

 [1] 39 41 35 18 35 37 46 38 34 21 19 54 36 36 25 17 27 19 35 38 34 23 24 23 15
[26] 43 39 13 37 35 16 19 32 39 23 28 32 33 50 34 38 31 21 40 43 30 19 42 34 36
[51] 42

### Logical indexing
We are allowed to use logical indexing like we learned when selecting items in vectors and matrices to select rows and columns of a data frame.
For example, suppose we are interested in **all** columns of our data frame where the Percentage Of Drivers Involved In Fatal Collisions Who Were Speeding is above 40\%.

In [42]:
d[ d$speeding > 40, ]

   state        total speeding alcohol not_distracted previous_accidents
2  Alaska       18.1  41       25      90             94
7  Connecticut  10.8  46       36      87             82
12 Hawaii       17.5  54       41      82             87
26 Missouri     16.1  43       34      92             84
39 Pennsylvania 18.2  50       31      96             88
45 Utah         11.3  43       16      88             96
48 Washington   10.6  42       33      82             86
51 Wyoming      17.4  42       32      81             90
   insurance_premium insurance_loss
2  1053.48           133.93
7  1068.73           167.02
12  861.18           120.92
26  790.32           144.45
39  905.99           153.86
45  809.38           109.48
48  890.03           111.62
51  791.14           122.04

or maybe we are interested in not all columns, but just the states where this percentage is above 40\%.
We can subset to a specific column by including in square brackets the name of the column

In [43]:
d[ d$speeding > 40, "state" ]

[1] Alaska       Connecticut  Hawaii       Missouri     Pennsylvania
[6] Utah         Washington   Wyoming
51 Levels: Alabama Alaska Arizona Arkansas California Colorado ... Wyoming

If we wanted to include more than one column then we can include a vector that contains each column we want to select.

In [44]:
d[ d$speeding > 40, c("state","insurance_premium") ]

   state        insurance_premium
2  Alaska       1053.48
7  Connecticut  1068.73
12 Hawaii        861.18
26 Missouri      790.32
39 Pennsylvania  905.99
45 Utah          809.38
48 Washington    890.03
51 Wyoming       791.14

### Functions for data frames

There are several useful functions that take as an argument a data frame.
The ``nrow`` function takes a data frame as an argument and returns the number of rows (i.e. the number of data points) in the data frame. 
The ``ncol`` function takes a data frame as an argument and returns the number of columns in the data frame.

In [45]:
number_of_rows = nrow(d)
number_of_columns = ncol(d)

print(number_of_rows)
print(number_of_columns)

[1] 51
[1] 8

The ``colnames`` function takes as an argument a data frame and returns a vector that contains the name of each column in the data frame.

In [46]:
column_names = colnames(d)
print(column_names)

[1] "state"              "total"              "speeding"
[4] "alcohol"            "not_distracted"     "previous_accidents"
[7] "insurance_premium"  "insurance_loss"

The ``summary`` function is a function that takes as an argument a data frame and returns, for each column in the data frame, the minimum value, maximum value, mean (average), median, 25th percentile (called the 1st quartile), and the 75th percentile (called the 3rd quartile).

In [47]:
summary(d)

        state        total          speeding        alcohol
 Alabama   : 1   Min.   : 5.90   Min.   :13.00   Min.   :16.00
 Alaska    : 1   1st Qu.:12.75   1st Qu.:23.00   1st Qu.:28.00
 Arizona   : 1   Median :15.60   Median :34.00   Median :30.00
 Arkansas  : 1   Mean   :15.79   Mean   :31.73   Mean   :30.69
 California: 1   3rd Qu.:18.50   3rd Qu.:38.00   3rd Qu.:33.00
 Colorado  : 1   Max.   :23.90   Max.   :54.00   Max.   :44.00
 (Other)   :45
 not_distracted   previous_accidents insurance_premium insurance_loss
 Min.   : 10.00   Min.   : 76.00     Min.   : 642.0    Min.   : 82.75
 1st Qu.: 83.00   1st Qu.: 83.50     1st Qu.: 768.4    1st Qu.:114.64
 Median : 88.00   Median : 88.00     Median : 859.0    Median :136.05
 Mean   : 85.92   Mean   : 88.73     Mean   : 887.0    Mean   :134.49
 3rd Qu.: 95.00   3rd Qu.: 95.00     3rd Qu.:1007.9    3rd Qu.:151.87
 Max.   :100.00   Max.   :100.00     Max.   :1301.5    Max.   :194.78

The `str` function is a handy tool that will tell you what type of data each column is (e.g., integer, string), and it will show you the first few elements of each column.

In [48]:
str(d)

'data.frame':	51 obs. of  8 variables:
 $ state             : Factor w/ 51 levels "Alabama","Alaska",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ total             : num  18.8 18.1 18.6 22.4 12 13.6 10.8 16.2 5.9 17.9 ...
 $ speeding          : int  39 41 35 18 35 37 46 38 34 21 ...
 $ alcohol           : int  30 25 28 26 28 28 36 30 27 29 ...
 $ not_distracted    : int  96 90 84 94 91 79 87 87 100 92 ...
 $ previous_accidents: int  80 94 96 95 89 95 82 99 100 94 ...
 $ insurance_premium : num  785 1053 899 827 878 ...
 $ insurance_loss    : num  145 134 110 142 166 ...

The `head` function is an *extremely* handy tool that I use all the time. It shows you the first few rows of all columns from your data, like a preview. The `tail` function does the same execpt it shows the last few rows.

In [49]:
head(d)

  state      total speeding alcohol not_distracted previous_accidents
1 Alabama    18.8  39       30      96             80
2 Alaska     18.1  41       25      90             94
3 Arizona    18.6  35       28      84             96
4 Arkansas   22.4  18       26      94             95
5 California 12.0  35       28      91             89
6 Colorado   13.6  37       28      79             95
  insurance_premium insurance_loss
1  784.55           145.08
2 1053.48           133.93
3  899.47           110.35
4  827.34           142.39
5  878.41           165.63
6  835.50           139.91

## Assignment

We are going to look at a dataset that was collected on University "Fight Songs" that are played during sporting events. The article about the data set is here= https://projects.fivethirtyeight.com/college-fight-song-lyrics/

1. The data is at the URL (https://raw.githubusercontent.com/fivethirtyeight/data/master/fight-songs/fight-songs.csv). Please read in this raw CSV as a data.frame
2. Use the nrow and ncol function to describe the number of fight songs sampled and the number of different characteristics collected about each song. 
3. How many songs were sampled with a BPM (beats per minute) above 150? 
4. Select the rows where BPM is greater than 150 and select the column "nonsense" (Whether or not the song uses nonsense syllables (e.g. "Whoo-Rah" or "Hooperay") )
5. Summarize the data frame. Why do you think the summary function does not produce useful information for many of the columns?