## Data Frames (Part II) Split-Apply-Combine

A common task in computer programming is to apply the same function to many sets of similar rows in a dataframe, and compile the results. 
For example, we could run a randomized control trial in different countries.
Within each country we woud randomize patients to a treatment and control group.
Our goal may be to compare the rate of adverse events between treated and control patients, ignoring the country where they were treated.
A common secondary analysis is to apply the same comparison for each country and investigate if there were any differences. 
The split-apply-combine paradigm would work well here. 

### Split-Apply-Combine
Suppose you have stored a data frame $D$ with column $c_{1},c_{2},\cdots,c_{n}$. 
In addition to these columns we have one extra column $C$ that contains the values $v_{1},v_{2},\cdots,v_{p}$ that **split** the rows of our dataframe. 

We also have a function $f$ that takes as input a dataframe and returns a result.

Our goal is to **apply** our function $f$ to the rows of our dataframe that correspond to $C == v_{1}$, and then **apply** our function to the rowd of our dataframe that correpond to $C==v_{2}$, and so on. 
After we gather our results for each subset, we finally would like to **combine** all the results into a single dataframe. 

R has a natural way to perform this operation. 

But first a dataset.

In [10]:
doctorVisits = read.csv("https://vincentarelbundock.github.io/Rdatasets/csv/AER/DoctorVisits.csv")
doctorVisits

     X    visits gender age  income illness reduced health private freepoor
1     1   1      female 0.19 0.55   1        4       1     yes     no
2     2   1      female 0.19 0.45   1        2       1     yes     no
3     3   1      male   0.19 0.90   3        0       0     no      no
4     4   1      male   0.19 0.15   1        0       0     no      no
5     5   1      male   0.19 0.45   2        5       1     no      no
6     6   1      female 0.19 0.35   5        1       9     no      no
7     7   1      female 0.19 0.55   4        0       2     no      no
8     8   1      female 0.19 0.15   3        0       6     no      no
9     9   1      female 0.19 0.65   2        0       5     yes     no
10   10   1      male   0.19 0.15   1        0       0     yes     no
11   11   1      male   0.19 0.45   1        0       0     no      no
12   12   1      male   0.19 0.25   2        0       2     no      no
13   13   2      male   0.19 0.55   3       13       1     no      no
14   14   1      male   0.19 0.45   4        7       6     no      no
15   15   1      male   0.19 0.25   3        1       0     yes     no
16   16   1      male   0.19 0.55   2        0       7     no      no
17   17   2      male   0.19 0.45   1        0       5     yes     no
18   18   1      female 0.19 0.45   1        1       0     no      no
19   19   2      female 0.19 0.45   1        0       0     yes     no
20   20   1      female 0.19 0.35   1        0       0     yes     no
21   21   1      female 0.19 0.45   1        3       0     yes     no
22   22   1      female 0.19 0.35   1        0       1     yes     no
23   23   1      male   0.19 0.45   2        2       0     yes     no
24   24   1      male   0.19 0.55   2       14       2     no      no
25   25   1      female 0.19 0.25   2       14      11     no      no
26   26   1      female 0.19 0.15   1        2       6     no      yes
27   27   1      female 0.19 0.55   2        5       6     no      no
28   28   1      male   0.19 0.00   1        0       0     no      yes
29   29   1      female 0.19 0.45   1        0       1     no      no
30   30   1      male   0.19 0.25   1        0       0     yes     no
⋮    ⋮    ⋮      ⋮      ⋮    ⋮      ⋮       ⋮       ⋮      ⋮       ⋮
5161 5161 0      female 0.72 0.25   0       0       0      no      no
5162 5162 0      female 0.72 0.25   0       0       0      yes     no
5163 5163 0      female 0.72 1.10   0       0       0      yes     no
5164 5164 0      male   0.72 1.50   0       0       3      yes     no
5165 5165 0      female 0.72 0.25   0       0       0      no      no
5166 5166 0      male   0.72 0.25   0       0       0      no      no
5167 5167 0      female 0.72 0.25   0       0       0      yes     no
5168 5168 0      female 0.72 0.55   0       0       0      yes     no
5169 5169 0      female 0.72 0.25   0       0       0      yes     no
5170 5170 0      female 0.72 0.25   0       0       0      yes     no
5171 5171 0      female 0.72 0.25   0       0       0      yes     no
5172 5172 0      female 0.72 0.25   0       0       0      yes     no
5173 5173 0      female 0.72 0.55   0       0       0      yes     no
5174 5174 0      female 0.72 0.35   0       0       0      yes     no
5175 5175 0      female 0.72 0.25   0       0       0      no      no
5176 5176 0      female 0.72 0.25   0       0       1      no      no
5177 5177 0      female 0.72 0.25   0       0       0      no      no
5178 5178 0      male   0.72 0.55   0       0       0      no      no
5179 5179 0      male   0.72 0.25   0       0       0      no      no
5180 5180 0      female 0.72 0.35   0       0       0      no      no
5181 5181 0      male   0.19 0.25   1       0       1      no      yes
5182 5182 0      male   0.19 0.75   1       0       0      no      no
5183 5183 0      female 0.19 0.45   0       0       0      no      no
5184 5184 0      male   0.22 1.10   0       0       0      no      no
5185 5185 0      male   0.22 1.50   0       0       0      no      no
5186 5186 0      female 0.22 0.55   0       0       0      no      no
5187 5187 0      male   0.27 1.30   0       0       1      no      no
5188 5188 0      female 0.37 0.25   1       0       1      no      no
5189 5189 0      female 0.52 0.65   0       0       0      no      no
5190 5190 0      male   0.72 0.25   0       0       0      no      no
     freerepat nchronic lchronic
1    no        no       no
2    no        no       no
3    no        no       no
4    no        no       no
5    no        yes      no
6    no        yes      no
7    no        no       no
8    no        no       no
9    no        no       no
10   no        no       no
11   no        no       no
12   yes       no       no
13   no        yes      no
14   no        yes      no
15   no        yes      no
16   no        no       no
17   no        no       no
18   no        yes      no
19   no        no       no
20   no        no       no
21   no        no       no
22   no        no       no
23   no        no       no
24   no        no       no
25   yes       no       yes
26   no        yes      no
27   no        no       no
28   no        yes      no
29   no        no       yes
30   no        no       yes
⋮    ⋮         ⋮        ⋮
5161 yes       no       no
5162 no        no       no
5163 no        no       no
5164 no        no       no
5165 yes       no       no
5166 yes       no       no
5167 no        no       no
5168 no        no       no
5169 no        no       no
5170 no        no       no
5171 no        no       no
5172 no        no       no
5173 no        yes      no
5174 no        no       no
5175 yes       no       no
5176 yes       no       no
5177 yes       no       no
5178 yes       no       no
5179 yes       no       no
5180 yes       no       no
5181 no        no       no
5182 no        no       no
5183 no        no       no
5184 no        no       no
5185 no        no       no
5186 no        no       no
5187 no        no       no
5188 yes       no       no
5189 no        no       no
5190 yes       no       no

   gender illness Average_Income
1  female 0       0.5164065
2  female 1       0.5077218
3  female 2       0.4978343
4  female 3       0.4339640
5  female 4       0.4116168
6  female 5       0.3763924
7  male   0       0.7319771
8  male   1       0.7008333
9  male   2       0.6546506
10 male   3       0.6163636
11 male   4       0.6216822
12 male   5       0.5702564

The description for this data set reads as follows "The sample consists of 5,190 observations and is from the 1977-78 Australian Health Survey and contains information on health service utilization and covariates describing factors that affect health care utilization propensities."

We see that each row represents a single patient studied from a AUstrialian Health survey. 
They collected information about patients' gender, number of visits to a hospital, annual income divided by 10,000, whether the patient has private health insurance, the number of illnesses in the past two weeks and so on.

Suppose we want to compute the average number of illnesses in the past two weeks among patients with and without private healthcare. 
Our first step is to dclare a function that takes as input a dataframe and returns a data frame that contains the average number of illnesses. 

We will call our function ``averageIllness``.

In [17]:
averageIllness = function(d){       # the argument d is a dataframe
    mean_illness = mean(d$illness)  # select the column illness and compute the mean
    return( data.frame( "average_illness" = mean_illness) ) # return a data frame with this computation
}

We can apply our function to the entire Austrailan Health Survey to compute the average number of illnesses reported by patients in the past two weeks

In [18]:
averageIlness(doctorVisits)

  average_illness
1 1.431985

However, we wanted to compute the number of illnesses for those with private health insurance (when the column private==1) and for those without private health insurance. 

One, more laborious, way to compute the mean number of illnessess for each value of the variable private is to subset our dataframe by private and then apply our function.

In [19]:
privateSubset = doctorVisits[ doctorVisits$private=="yes",] #logical index to select rows
averageIlness(privateSubset)

no_privateSubset = doctorVisits[ doctorVisits$private=="no",] #logical index to select rows
averageIlness(no_privateSubset)

  average_illness
1 1.359443

  average_illness
1 1.489627

But we can compute these two numbers more efficiently by using split-apply-combine.

## Split-apply-combine needs to use a package

A package is a set of functions that were written by a team.
Packages are often avalable for download and installation. 

The package we will need is called ``plyr``. 
The ``plyr`` package includes functions that allow us to split-apply-combine.

There are two ways to access the functions in an installed package in R. 
One way uses the ``library`` command and the second way uses the ``require`` command. 
Both methods are ok to use.

In [20]:
require(plyr)

When the above ``require(plyr)`` is executed by R, all the functions that are inside of the ``plyr`` package are available for you to use. 

### ddply
The ``ddply`` function takes three arguments: the data frame you wish to operate on, a variable or set of variables to used to split your data frame into many subsets, and a function that will be applied to each subset. 

The second argument, the variables to split our data frame by, requires that we enclose all variables with a ``.(var1,var2,var3)``. 

Lets look at our above example. 
We could supply the function ``ddply`` with the data frame ``doctorVisits``, the argument ``.(private)`` to split the data frame on the condition that ``private="yes"`` and ``private=no``, and our function to compute the mean number of illnesses in the past two weeks.

In [21]:
ddply(doctorVisits, .(private), averageIllness )

  private average_illness
1 no      1.489627
2 yes     1.359443

Above, the dataframe ``doctorVisits`` was split into two dataframes: one data frame $(D_{1})$ where the variable ``patient="yes"`` and a second data frame $(D_{2})$ where ``patient="no"``.
Then the function ``averageIllness`` is applied to $D_{1}$ and $D_{2}$, and the results are combined into a single data frame.

We can provide more than one variable to split our dataframe. 
For example, we could split (or stratify) by whether patients have private health insurance and the number of days the patient has had reduced mobility (the reduced variable).

In [25]:
results = ddply(doctorVisits, .(private,reduced), averageIllness )
results

   private reduced average_illness
1  no       0      1.343386
2  no       1      2.011628
3  no       2      2.327273
4  no       3      2.666667
5  no       4      2.285714
6  no       5      2.619048
7  no       6      2.461538
8  no       7      2.631579
9  no       8      2.461538
10 no       9      3.250000
11 no      10      2.888889
12 no      11      1.000000
13 no      12      1.333333
14 no      13      3.500000
15 no      14      2.475410
16 yes      0      1.212506
17 yes      1      2.010989
18 yes      2      2.264151
19 yes      3      2.342105
20 yes      4      2.041667
21 yes      5      1.842105
22 yes      6      2.250000
23 yes      7      2.631579
24 yes      8      2.000000
25 yes      9      1.666667
26 yes     10      1.666667
27 yes     11      2.000000
28 yes     12      3.000000
29 yes     13      4.000000
30 yes     14      2.469697

The ``split-apply-combine`` paradigm is a powerful way to apply a function to many different subsets of a dataframe and simplifies our code.

### Assignment:

1. Write a function called ``outline`` that takes as an argument a dataframe
    - The function will compute the sample mean, variance, and standard deviation for the variable age. 
    - The function should return a data frame with columns for each of these above three statistics. 
2. Apply our ``outline`` function to the Australian Health Survey (AHS)
3. Apply our ``outline`` function to patients in the AHS with and without private health insurance. 
4. Apply our ``outline`` function to patients in the AHS for all combination of presenance and absence of private health insurance (``private``) and number of illnesses in the past two weeks (``illness`` variable).